.nav-bar{
    background: #84A243;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

   
    }

    nav{
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 35%;
        margin-top: -120px;
        width: 100%;
    
    
        a{
            font-size: 22px;
            color:white;
            display: block;
            line-height: 50px;
            height: 50px;
            position: relative;
            text-decoration: none;
        
            i{
                transition: all 0.3s ease-out;
            }
        
            &:hover {
                
                color: white;
        
                svg { 
                    opacity: 0;
        
                }
        
                &:after {
                    opacity: 1;
                }
            }
        
            &:after{
                content: '';
                font-size:15px;
                letter-spacing: 2px;
                position: absolute;
                bottom:0;
                display: block;
                width: 100%;
                text-align: centre;
                opacity: 0;
                transition: all 0.3s ease-out;
                transform: scale(1.5);
        
            }

            &:first-child {

                &::after {
                    content: 'Home';
                }
            }

            
        }
        a.about-link {
            &:after {
                content: 'About'
            }

        }

        a.donor-link {
            &:after {
                content: 'Food Donor'
            }
        }

        a.contact-link {
            &:after {
                content: 'Contact'
            }
        }

        

        a.active {
            svg {
            
            color: white;
            }
        }

    }




    
    
    


